[Unit]
Description=Cadvisor
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
Type=simple
User={{ cadvisor_user }}
Group={{ cadvisor_group }}
ExecStart=/usr/local/bin/cadvisor --port {{ cadvisor_port }} {{ cadvisor_runtime_options | join(' ') }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
