[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
Type=simple
ExecStart=/usr/local/bin/alertmanager \
	  	--config.file {{ alertmanager_config_dir }}/alertmanager.yml \
	  	--storage.path {{ alertmanager_data_dir }}/ \
	  	$ALERTMANAGER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
