[Unit]
Description=Loki service
After=network.target

[Service]
Type=simple
User={{ loki_user }}
Group={{ loki_group }}
ExecStart=/usr/bin/loki -config.file {{ loki_config_dir }}/config.yml
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec = 120
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target
