{{ ansible_managed | comment }}
# https://grafana.com/docs/loki/latest/configuration/

auth_enabled: {{ loki_auth_enabled }}

server:
  http_listen_port: {{ loki_listen_port }}
  grpc_listen_port: {{ loki_grpc_listen_port }}

{% if loki_common != [] %}
common:
  {{ loki_common | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_query_range != [] %}
query_range:
  {{ loki_query_range | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_schema_config != [] %}
schema_config:
  {{ loki_schema_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_ruler_config %}
ruler:
  {{ loki_ruler_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
analytics:
  reporting_enabled: false
