[Unit]
Description=Prometheus
After=network.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart=/usr/local/bin/prometheus \
	  --config.file {{ prometheus_config_dir }}/prometheus.yml \
	  --storage.tsdb.path {{ prometheus_db_dir }}/ \
	  --storage.tsdb.retention.time={{ prometheus_storage_retention }} \
  	  --storage.tsdb.retention.size={{ prometheus_storage_retention_size }} \
	  --web.console.templates={{ prometheus_config_dir }}/consoles \
	  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
	  --web.listen-address={{ prometheus_listen_address }}:{{ prometheus_listen_port }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
